{% extends "layouts/mods_base.html" %}

{% block content %}
  {% if error %}
    <p class="error-msg">{{ error }}</p>
  {% endif %}

  <form action="{{ url_for('mods.edit', mod_id=mod_id) }}" method="post">
    <div class="input-field">
      <input type="text" id="name" name="name" value="{{ mod['name'] | e }}" required>
      <label for="name" class="active">Name</label>
    </div>
    <div class="input-field">
      <select id="category" name="category">
        <option value="mod" {% if mod['category'] == 'mod' %}selected{% endif %}>Mod</option>
        <option value="texture pack" {% if mod['category'] == 'texture pack' %}selected{% endif %}>Texture Pack</option>
      </select>
      <label for="category">Category</label>
    </div>
    <div class="input-field">
      <select id="min_patchwork" name="min_patchwork">
        <option value="unknown" {% if not mod['min_patchwork'] or mod['min_patchwork'] == 'unknown' %}selected{% endif %}>Unknown</option>
        <option value="1.0.0-beta" {% if mod['min_patchwork'] == '1.0.0-beta' %}selected{% endif %}>1.0.0-beta</option>
        <option value="1.1.0-beta" {% if mod['min_patchwork'] == '1.1.0-beta' %}selected{% endif %}>1.1.0-beta</option>
        <option value="1.2.0-beta" {% if mod['min_patchwork'] == '1.2.0-beta' %}selected{% endif %}>1.2.0-beta</option>
        <option value="1.3.0-beta" {% if mod['min_patchwork'] == '1.3.0-beta' %}selected{% endif %}>1.3.0-beta</option>
        <option value="1.3.2-beta" {% if mod['min_patchwork'] == '1.3.2-beta' %}selected{% endif %}>1.3.2-beta</option>
      </select>
      <label for="min_patchwork">Minimum Patchwork Version</label>
    </div>
    <div class="input-field">
      <textarea id="description" name="description" class="materialize-textarea" rows="6">{{ mod['description'] | e }}</textarea>
      <label for="description" class="active">Description</label>
    </div>
    <button type="submit" class="btn waves-effect waves-light teal">Save</button>
    <a href="{{ url_for('mods.view', mod_id=mod_id) }}" class="btn-flat">Cancel</a>
  </form>
{% endblock %}