{% extends "layouts/mods_base.html" %}

{% block content %}
  {% if mods %}
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th><i class="material-icons tiny" style="transform: translateY(2px);">badge</i> Name</th>
          <th><i class="material-icons tiny" style="transform: translateY(2px);">category</i> Category</th>
          <th><i class="material-icons tiny" style="transform: translateY(2px);">history</i> Version</th>
          <th><i class="material-icons tiny" style="transform: translateY(2px);">extension</i> Min Patchwork</th>
          <th><i class="material-icons tiny" style="transform: translateY(2px);">person</i> Author</th>
          <th><i class="material-icons tiny" style="transform: translateY(2px);">folder_zip</i> Size</th>
          <th><i class="material-icons tiny" style="transform: translateY(2px);">download</i> Downloads</th>
          <th><i class="material-icons tiny" style="transform: translateY(2px);">rule</i> Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for mod in mods %}
        <tr>
          <td><a href="{{ url_for('mods.view', mod_id=mod['id']) }}"><strong>{{ mod['name'] | e }}</strong></a></td>
          <td>{{ mod['category'] | e }}</td>
          <td>{{ mod['version'] | e }}</td>
          <td>{% if mod['min_patchwork'] %}{{ mod['min_patchwork'] }}{% else %}<span class="grey-text">any</span>{% endif %}</td>
          <td>{{ mod['uploaded_by'] | e }}</td>
          <td>{{ mod['file_size_formatted'] }}</td>
          <td>{{ mod['download_count'] }}</td>
          <td>
            <button type="button" class="btn btn-floating waves-effect waves-light teal btn-small" style="margin-right: 3px;" 
                    data-download-url="{{ url_for('mods.download_version', mod_id=mod['id'], ver_id=mod['latest_ver_id']) }}"
                    data-desktop-url="{{ url_for('mods.download_version', mod_id=mod['id'], ver_id=mod['latest_ver_id'], _external=True) }}"
                    data-mod-name="{{ mod['name'] | e }}"
                    onclick="openModloaderDialogFromData(this)">
              <i class="material-icons">download</i>
            </button>
            {% if mod['can_delete'] %}
              <a href="{{ url_for('mods.delete', mod_id=mod['id']) }}" class="btn btn-floating waves-effect waves-light red lighten-1 btn-small"><i class="material-icons">delete</i></a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No mods found.</p>
  {% endif %}

  {% include "mods/modloader_dialog.html" %}
{% endblock %}